/* Styles globaux */
body {
  margin: 0;
  font-family: 'DIN Pro', sans-serif;
  font-size: 20px;          /* Augmente la taille de base du texte */
  line-height: 2;         /* Plus d’espace entre les lignes */
  background-color: #0b0b0b;
  color: #ffffff;
}

/*SMOKE


/* Déclarer DIN Pro Bold */
@font-face {
  font-family: 'DIN Pro';
  src: url('./Public/DIN-Pro-Bold-Italic.ttf') format('truetype'); /* Correction du format */
  font-weight: bold;
  font-style: normal;
}

/* Déclarer DIN Pro Italic */
@font-face {
  font-family: 'DIN Pro';
  src: url('./Public/DinProItalic.otf') format('opentype'); /* Correction du format */
  font-weight: normal;
  font-style: italic;
}

/* Déclarer Poxel */
@font-face {
  font-family: 'Poxel';
  src: url('./Public/poxel-font.ttf') format('opentype'); /* Correction du format */
  font-weight: normal;
  font-style: normal;
}

/* Appliquer Poxel aux titres */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poxel', sans-serif;
  font-weight: normal;
  font-style: normal; /* Pour éviter l'italic sur les titres */
}

/* Appliquer Poxel  aux paragraphes */
a {
  font-family: 'Poxel', sans-serif;
  font-weight: normal; /* Empêche l'épaisseur Bold */
  font-style: normal; /* Texte en italique */
}
p {
  font-family:  sans-serif;
  font-weight: normal; /* Empêche l'épaisseur Bold */
  
}

/* HEADER GLOBAL */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0b0b0b;
  box-shadow: 0 4px 6px rgba(46, 0, 99, 0.497);
  z-index: 1000;
}

/* LOGO DANS LE HEADER */
.logoheader {
  width: 50%;
}

/* NAV : On sépare un peu la nav du ul pour plus de flexibilité */
nav {
  display: flex;
  justify-content: center; /* ou space-between si on veut le burger à gauche/droite */
  align-items: center;
  padding: 1rem;
  position: relative;
}

/* Par défaut (desktop), on affiche les liens en ligne */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; /* Déjà géré par nav */
    /* AJOUT pour centrer horizontal & vertical */
    justify-content: center; 
    align-items: center;
}

/* Les li */
nav ul li {
  align-self: center;
  width: 20%;
  text-align: center;
}

/* Les liens */
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1 rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #dc9bfb;
}

/* Le bouton burger (caché sur desktop) */
.burger {
  display: none;     /* On l'affiche en mobile via @media */
  flex-direction: column;
  cursor: pointer;
  right: 0;
}
.mobile{
  display: flex;
}
.mobile img{
  width: 10%;
}
.bar {
  width: 25px; 
  height: 3px;
  margin: 4px 0;
  background-color: #fff;
  transition: 0.3s;
}
main {
  margin-top: 80px;
}
/* ==================== */
/* RESPONSIVE BURGER    */
/* ==================== */
@media (max-width: 768px) {
  /* On affiche le bouton burger en mobile */
  .burger {
    display: flex;
  }
  /* On masque le menu horizontal et on le transforme en vertical */
  nav ul {
    position: absolute;
    top: 60px; /* Ajuste selon la hauteur réelle de ton header */
    right: 0;
    width: 100%; 
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100vh);
    transition: transform 0.4s ease-in-out;
  }
  /* On affiche le menu quand on ajoute la classe .nav-active */
  nav ul.nav-active {
    transform: translateY(0);
  }
  /* Les <li> sont empilés */
  nav ul li {
    margin: 1rem 0;
  }
  /* Ajuste la taille du logo si nécessaire en mobile */
  .logoheader {
    width: 15%;
  }
}


/* SECTIONS GÉNÉRALES */
.content-section {
  margin-top: 10%;
  opacity: 0;
  transform: translateX(-100%);
  position: absolute;
  width: 100%;
  top: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.content-section:not(.hidden) {
  opacity: 1;
  transform: translateX(0);
  position: relative;
}

.hidden {
  pointer-events: none;
}

/* -------------------- */
/* SECTION ACCUEIL      */
/* -------------------- */

.Accueil {
  position: relative;
  min-height: 50vh; /* Hauteur pour un aspect plus "hero" */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Fond : dégradé, modifiable si besoin pour y insérer une image */
  background:url('./Public/MainBackgroundTop.png');
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


.Accueil .text-container {
  max-width: 80%;
  text-align: center;
}


.Accueil .text-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 0;
}
/* BLOCS DE NEWS */
.news-section {
  margin: 2rem auto 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-section h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.news-container {
  /* On empile chaque news-item en colonne */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%; 
  /* Permet aux éléments internes de s'adapter à la largeur max du parent */
}

.news-item {
  display: flex;              /* Pour placer image à gauche et texte à droite */
  align-items: flex-start;    /* Aligne le contenu en haut */
  background: linear-gradient(145deg, #000000, #333334); /* Dégradé prune */
    /* Style de l'encadrement */
    border: 2px solid rgba(224, 158, 255, 0.7); /* Couleur prune clair, semi-transparente */
    border-radius: 50px; /* Coins arrondis */
    padding: 5px; /* Espacement interne pour créer de l'air autour de l'image */
    box-shadow: 0 0 10px rgba(224, 158, 255, 0.5); /* Effet lumineux autour */
    
    /* Animation au survol (facultatif) */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  transition: transform 0.3s;
}

.news-item:hover {
  transform: translateY(-2px);
}

.news-logo {
  width: 10%;
  align-self: center;
  border: 1px solid rgba(224, 158, 255, 0.7); /* Couleur prune clair, semi-transparente */
  border-radius: 15%;
  box-shadow: 0 0 5px rgba(224, 158, 255, 0.5); /* Effet lumineux autour */
  margin-right: 1rem;
  margin-left: 1rem; /* Espace entre logo et texte */
  flex-shrink: 0;     /* Évite que l’image se réduise en cas de texte long */
}

.news-details {
  flex: 1;            /* Le texte prend tout l’espace restant */
}

.news-details h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #dc9bfb; /* Prune clair */
}

.news-details p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}



/* -------------------- */
/* SECTION PROFIL      */
/* -------------------- */
.profil {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  max-width: 90%;
  margin: 15%;
  padding: 2rem;
}

/* Image */
.image-container {
  display: flex;
  margin-top: 5%;
  flex: 0.5;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.image-accueil {
  display: flex;
  margin-top: 5%;
  flex: 0.5;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.profilImg {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Logo{
  width: 180px;
  height: 180px;
  margin-bottom: 80%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.profilfleche{
  display:flex;
}


.TexteCentre{
  text-align: center;
}

.image-container img:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

/* Texte */
.text-container {
  flex: 2;
  color: #ffffff;
}

.text-container h1 {
  text-align: center;
  font-size: 2rem;
  color: #dc9bfb; /* Prune clair */
  margin-bottom: 1rem;
}

.text-container h2 {
  font-size: 1.5rem;
  color: #dc9bfb; /* Prune clair */
  margin: 1.5rem 0 1rem;
}

.text-container p,
.text-container ul {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.text-container ul {
  padding-left: 1.5rem;
  list-style: none; /* Supprime les puces par défaut */
  padding: 0;
}

.bullet {
  width: 2%; /* Définit la largeur de l'image */
  height: 2%; /* Définit la hauteur de l'image */
  margin-right: 10px; /* Ajoute un espace entre l'image et le texte */
}

.text-container li {
  margin-bottom: 0.5rem;
}

.text-container li::before {
  width: 15px; /* Définit la largeur de l'image */
  height: 15px; /* Définit la hauteur de l'image */
  
}

.text-container p strong {
  color: #dc9bfb; /* Prune clair */
}

/* Conteneur dédié pour le centrage */
.wrapper {
  position: relative; /* Position relative pour un centrage absolu à l'intérieur */
  width: 100%; /* Prend toute la largeur de la page */
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

/* Bouton avec image */
.contactbutton {
  display: inline-block;
  text-decoration: none; /* Supprime le soulignement */
  border: none; /* Supprime les bordures */
  cursor: pointer; /* Curseur en main */
  transition: transform 0.3s, box-shadow 0.3s; /* Animation fluide */
}

.contactbutton img {
  display: block; /* Supprime les espaces indésirables */
  width: 300px; /* Largeur fixée */
  height: auto; /* Conserve les proportions */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Ombre pour effet 3D */
  transition: transform 0.3s, box-shadow 0.3s; /* Animation fluide */
}

/* Effet au survol */
.contactbutton:hover img {
  transform: scale(1.1); /* Agrandissement au survol */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); /* Accentuation de l'ombre */
}

/* Effet au clic */
.contactbutton:active img {
  transform: scale(0.95); /* Réduction au clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Réduction de l'ombre */
}


/* -------------------- */
/* SECTION PROJETS      */
/* -------------------- */
/*CARROUSSEL*/
/* Style global du carrousel */
.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}
/* Conteneur des slides */
.carousel-track-container {
  overflow: hidden;
  width: 100%;
}
.carousel-track {
  list-style: none; /* Supprime les puces (bullet points) */
  padding: 0; /* Supprime les marges internes du conteneur */
  margin: 0; /* Supprime les marges externes du conteneur */
  display: flex;
  transition: transform 0.5s ease-in-out;
}
/* Style pour chaque slide */
.carousel-slide {
  min-width: 30%; /* Chaque slide prend la largeur entière */
  position: relative;
  text-align: center;
}
.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
}
/* Effet au survol */
.carousel-slide:hover {
  transform: scale(1.05); /* Agrandit légèrement le conteneur */
}
.carousel-slide:hover img {
  transform: scale(1.1); /* Zoom de l'image */
  filter: brightness(1.2); /* Rendre l'image plus lumineuse */
}
/* Flèches de navigation */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
}
.left-arrow {
  left: 10px;
}
.right-arrow {
  right: 10px;
}
.arrow:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

#mes-projets {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
#mes-projets .project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly;
  width: 80%;
  padding: 2rem;
}

/* Détails du projet */
#project-details .project-detail-content {
  padding: 2rem;
  background: linear-gradient(145deg, #3a004e, #000000); /* Dégradé prune */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.project-images img {
  width: calc(33.33% - 1rem);
  margin: 0.5rem;
  border-radius: 8px;
}
/* Liens */
.project-links {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.project-button {
  padding: 10px 20px;
  background-color: #171717; /* Prune soutenu */
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.project-button:hover {
  background-color: #3a004e; /* Prune clair */
}
/* Epic Link */
.epic-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #171717; /* Prune */
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.epic-link:hover {
  background-color: #dc9bfb; /* Prune clair */
}

/* -------------------- */
/* SECTION CONTACT      */
/* -------------------- */
#contact {
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  max-width: 700px;
  margin: 3rem auto;
}

.contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.contact label {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.contact input, 
.contact textarea {
  max-width: 100%;
  padding: 1rem;
  background: linear-gradient(145deg, #000000, #333334); /* Dégradé prune */
  /* Style de l'encadrement */
  border: 2px solid rgba(224, 158, 255, 0.7); /* Couleur prune clair, semi-transparente */
  border-radius: 50px; /* Coins arrondis */
  padding: 5px; /* Espacement interne pour créer de l'air autour de l'image */
  box-shadow: 0 0 10px rgba(224, 158, 255, 0.5); /* Effet lumineux autour */
  
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.contact input:focus, 
.contact textarea:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(224, 158, 255, 0.8); /* Lumière prune douce */
}

/* Zone de texte */
.contact textarea {
  height: 150px;
  resize: none;
}


/* Bouton avec image */
.envoyerbutton {
  display: inline-block;
  text-decoration: none; /* Supprime le soulignement */
  border: none; /* Supprime les bordures */
  cursor: pointer; /* Curseur en main */
  background: none; /* Supprime la couleur de fond */
  border: none; /* Supprime la bordure */
  padding: 0; /* Supprime les marges internes */
  margin: 0; /* Supprime les marges externes */
  transition: transform 0.3s, box-shadow 0.3s; /* Animation fluide */
}
.envoyerbutton img {
  display: block; /* Supprime les espaces indésirables */
  width: 300px; /* Largeur fixée */
  height: auto; /* Conserve les proportions */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Ombre pour effet 3D */
  transition: transform 0.3s, box-shadow 0.3s; /* Animation fluide */
}
/* Effet au survol */
.envoyerbutton:hover img {
  transform: scale(1.1); /* Agrandissement au survol */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); /* Accentuation de l'ombre */
}
/* Effet au clic */
.envoyerbutton:active img {
  transform: scale(0.95); /* Réduction au clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Réduction de l'ombre */
}

/* Style pour masquer/afficher le spinner */
.hiddenspinner {
  display: none !important; /* Forcer le masquage en priorité */
}

/* Conteneur du spinner */
#loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay transparent */
  z-index: 9999;
}

/* Style du spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* Animation de rotation */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Responsive Design */

/* Tablettes (max-width: 1024px) */
@media (max-width: 1024px) {
  .profil {
    flex-direction: column;
    width: 80%;
  }

  .Accueil .text-container {
    margin-top: 10%;
  }

  .image-container {
    display: block;
    flex: 1;
    text-align: center;
  }

  .image-container img {
    margin-bottom: 5%;
  }
  
  nav ul li a {
    font-size: 1rem;
  }

  .profil p {
    font-size: 0.9rem;
  }

  .project {
    padding: 1rem;
  }

  #contact {
    max-width: 90%;
  }
}

/* Mobiles (max-width: 768px) */
@media (max-width: 768px) {

  .profil {
    flex-direction: column;
    width: 80%;
  }
  .image-container {
    display: block;
    flex: 1;
    text-align: center;
  }

  .Accueil .text-container {
    margin-top: 10%;
  }

  .project {
    max-width: 90%;
  }

  .contact {
    gap: 1rem;
  }
}

/* Petits Mobiles (max-width: 480px) */
@media (max-width: 480px) {
  nav ul li a {
    font-size: 0.9rem;
  }

  .profil h1 {
    font-size: 1.5rem;
  }

  .profil p {
    font-size: 0.8rem;
  }

  .image-container {
    display: block;
    flex: 1;
    text-align: center;
  }

  .Accueil .text-container {
    margin-top: 10%;
  }

  .project h2 {
    font-size: 1rem;
  }

  #contact label {
    font-size: 0.9rem;
  }

  .contact input,
  .contact textarea {
    font-size: 0.9rem;
  }

  .contact button {
    font-size: 0.9rem;
  }
}